//关闭按钮样式
.close-icon{
    position: absolute;
    top: 0.24rem;
    right: 0.24rem;
    font-size: 0.32rem;
}
/* container */
.container {
    background: #FFFFFF;
    min-height: 100vh;
}

/* header */
.header {
    display: flex;
    align-items: center;
    height: 0.8rem;
    width: 100%;
    padding: 0 0.2rem;
    background: #FFFFFF;
    .back-icon{
        font-size: 0.36rem;
        color: #32333D;
    }
    .header-back{
        font-size: 0.28rem;
        margin-left: 0.16rem;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #32333D;
        line-height: 0.32rem;
    }
}
/* content */
.content {
    padding: 0 0.4rem;
    .content-advertising-space{
        height: 1.28rem;
        margin-bottom: 0.22rem;
        img{
            height: 1.28rem;
        }
    }
    .content-switch-country{
        display: flex;
        align-items: center;
        height: 0.6rem;
        width: 100%;
        .country-txt{
            margin-left: 0.12rem;
            font-size: 0.28rem;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #32333D;
            line-height: 0.32rem;
        }
        .change{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0.12rem;
            font-size: 0.24rem;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #517AB8;
        }
    }
    .content-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.14rem;
        margin-top: 0.34rem;
        width: 100%;
        img{
            height: 100%;
        }
    }
}

.cont_desc {
    border-radius: 0.08rem;
    padding: 0.12rem 0.24rem 0.2rem;
    .cont_desc_tit {
        font-size: 0.36rem;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #32333D;
        line-height: 0.4rem;
        margin-bottom: 0.12rem;
        text-align: center;
    }
}

.first_para {
    margin-bottom: 0.12rem;
}

/* form */

.phone_cont {
    display: flex;
    align-items: center;
    height: 1.12rem;
    background: #FFFFFF;
    border: 0.02rem solid #C0C7CF;
    padding: 0 0.24rem;
    .form_label {
        left: 0.24rem;
        height: 1.12rem;
        line-height: 1.12rem;
        font-weight: 400;
        font-size: 0.32rem;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #32333D;
    }
    input {
        width: 100%;
        height: 1.12rem;
        font-size: 0.32rem;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #9CA0AB;
        line-height: 1.12rem;
        border: none;
        outline: none;
        padding-left: 0.24rem;
        box-sizing: border-box;
    }
}

.registered-error{
    margin-top: 0.08rem;
    font-size: 0.24rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #EA3B45;
    display: none;
}

.email_cont {
    display: none;
}

.form_des {
    text-align: center;
    font-size: 0.28rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.32rem;
    margin-top: 0.2rem;
}

.form_remind {
    font-size: 0.24rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #F23441;
    line-height: 0.6rem;
    display: none;
}

.form_change {
    text-align: center;
    text-decoration: underline;
    font-size: 0.28rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.32rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

.form_btn {
    position: relative;
    margin-top: 0.78rem;
    width: 100%;
    height: 0.96rem;
    background: #EEF1F6;
    border-radius: 0.08rem;
    font-size: 0.32rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #B2BECF;
    line-height: 0.96rem;
    text-align: center;
    .register-button-bubble{
        position: absolute;
        top: -0.18rem;
        right: 0.12rem;
        width: 2.02rem;
        height: 0.36rem;
    }
}

.available-button{
    position: relative;
    margin-top: 0.78rem;
    width: 100%;
    height: 0.96rem;
    background: #10A310;
    border-radius: 0.08rem;
    font-size: 0.32rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.96rem;
    text-align: center;
    .register-button-bubble{
        position: absolute;
        top: -0.18rem;
        right: 0.12rem;
        width: 2.02rem;
        height: 0.36rem;
    }
}

.cont_login{
    height: 0.72rem;
    line-height: 0.72rem;
    margin-top: 0.2rem;
    font-size: 0.28rem;
    text-align: center;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #517AB8;
}
.cont_tips{
    margin-top: 1rem;
    font-size: 0.24rem;
    text-align: center;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #32333D;
}

/* dialog */
.country-dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    .country-dialog-cont {
        width: 90%;
        background: #FFFFFF;
        border-radius: 0.1rem;
        box-sizing: border-box;
        padding: 0.48rem 0.48rem 0.4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .cont-tit{
            margin-bottom: 0.34rem;
            font-size: 0.38rem;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #393A46;
        }
        .country-item{
            display: flex;
            padding: 0 0.24rem 0 0.34rem;
            align-items: center;
            height: 0.88rem;
            margin-top: 0.24rem;
            background: #FFFFFF;
            border-radius: 0.08rem;
            border: 0.02rem solid #F2F3F5;
            .country-item-title{
                margin-left: 0.24rem;
                font-size: 0.32rem;
                font-family: Roboto-Regular, Roboto;
                font-weight: 400;
                color: #424250;
            }
        }
        //选中状态
        .country-item-select{
            display: flex;
            padding: 0 0.24rem 0 0.34rem;
            align-items: center;
            height: 0.88rem;
            margin-top: 0.24rem;
            background: #FFFFFF;
            border-radius: 0.08rem;
            border: 0.02rem solid #10A310;
            .country-item-title{
                margin-left: 0.24rem;
                font-size: 0.32rem;
                font-family: Roboto-Regular, Roboto;
                font-weight: 400;
                color: #424250;
            }
        }
    }
}

.keep-dialog{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    .keep-dialog-cover{
        width: 90%;
        background: #FFFFFF;
        border-radius: 0.1rem;
        box-sizing: border-box;
        padding: 0.48rem 0.48rem 0.4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .keep-title{
            font-size: 0.38rem;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #32333D;
        }
        .keep-sub-title{
            margin-top: 0.2rem;
            font-size: 0.28rem;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #393A46;
        }
        .keep-continue{
            margin-top: 0.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5.6rem;
            height: 0.88rem;
            background: #10A310;
            border-radius: 0.08rem;
            font-size: 0.32rem;
            font-family: ArialMT;
            color: #FFFFFF;
        }
        .tips-title{
            margin-top: 0.4rem;
            font-size: 0.24rem;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #9CA0AB;
        }
        .tips-ussd{
            margin-top: 0.28rem;
            font-size: 0.24rem;
            font-family: LucidaGrande;
            color: #6285C3;
        }
        .tips-service{
            margin-top: 0.24rem;
            font-size: 0.24rem;
            font-family: LucidaGrande;
            color: #517AB8;
        }
    }
}
.iframe-cover{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    .otpIframe{
        width: 100%;
        height: 50%;
        border: 0;
        bottom: 0;
        position: fixed;
        z-index: 100000;
        background-color: #ffffff;
    }
}
