
/* container */
.container {
    background: #FFFFFF;
    min-height: 100vh;
}

/* header */
.header {
    display: flex;
    align-items: center;
    height: 0.8rem;
    width: 100%;
    background: #FFFFFF;
    .header-back{
        font-size: 0.28rem;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #32333D;
        line-height: 0.32rem;
    }
}
/* content */
.content {
    padding: 0 0.4rem;
    .content-advertising-space{
        height: 1.28rem;
        background: pink;
        margin-bottom: 0.22rem;
    }
    .content-switch-country{
        display: flex;
        align-items: center;
        height: 0.6rem;
        width: 100%;
        .country-txt{
            margin-left: 0.12rem;
            font-size: 0.28rem;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #32333D;
            line-height: 0.32rem;
        }
        .change{
            margin-left: 0.12rem;
            font-size: 0.24rem;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #517AB8;
        }
    }
    .content-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.14rem;
        margin-top: 0.34rem;
        width: 100%;
        img{
            height: 100%;
        }
    }
}

.cont_desc {
    border-radius: 0.08rem;
    padding: 0.12rem 0.24rem 0.2rem;
    .cont_desc_tit {
        font-size: 0.36rem;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #32333D;
        line-height: 0.4rem;
        margin-bottom: 0.12rem;
        text-align: center;
    }
}

.first_para {
    margin-bottom: 0.12rem;
}

/* form */

.phone_cont {
    display: flex;
    align-items: center;
    height: 1.12rem;
    background: #FFFFFF;
    border: 0.02rem solid #C0C7CF;
    padding: 0 0.24rem;
    .form_label {
        left: 0.24rem;
        height: 1.12rem;
        line-height: 1.12rem;
        font-weight: 400;
        font-size: 0.32rem;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #32333D;
    }
    input {
        width: 100%;
        height: 1.12rem;
        font-size: 0.32rem;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #9CA0AB;
        line-height: 1.12rem;
        border: none;
        outline: none;
        padding-left: 0.24rem;
        box-sizing: border-box;
    }
}

.email_cont {
    display: none;
}

.form_des {
    text-align: center;
    font-size: 0.28rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.32rem;
    margin-top: 0.2rem;
}

.form_remind {
    font-size: 0.24rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #F23441;
    line-height: 0.6rem;
    display: none;
}

.form_change {
    text-align: center;
    text-decoration: underline;
    font-size: 0.28rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.32rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

.form_btn {
    margin-top: 0.78rem;
    width: 100%;
    height: 0.96rem;
    background: #EEF1F6;
    border-radius: 0.08rem;
    font-size: 0.32rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #B2BECF;
    line-height: 0.96rem;
    text-align: center;
}

.cont_login{
    font-size: 0.28rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #517AB8;
}

/* dialog */
.dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.dialog-cont {
    width: 91.1%;
    height: 3.52rem;
    background: #FFFFFF;
    border-radius: 0.1rem;
    box-sizing: border-box;
    padding: 0.48rem 0.48rem 0.4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dialog-cont .cont-tit {
    font-size: 0.32rem;
    font-family: Roboto-Bold, Roboto;
    font-weight: bold;
    color: #32333D;
    line-height: 0.4rem;
}

.dialog-cont .cont-close {
    font-size: 0.3rem;
    font-family: Arial;
    color: #9CA0AB;
    position: absolute;
    right: 0.24rem;
    top: 0.24rem;
}

.dialog-cont .cont-des {
    font-size: 0.28rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #32333D;
    line-height: 0.36rem;
    margin-top: 0.24rem;
    margin-bottom: 0.4rem;
}

.dialog-cont .cont-btn {
    width: 100%;
    height: 0.88rem;
    text-align: center;
    border-radius: 0.08rem;
    background-color: #10A310;
    font-size: 0.32rem;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.88rem;
}
